* {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
}

.header {
    -fx-text-fill: #da294f;
}

.content-text {
    -fx-fill: lightgrey;
    -fx-font-size: 14pt;
}

.refreshStyle:hover {
    -fx-icon-color: #21ff7a;
}